h1,h2,h3,h4,h5,h6,p {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
html, body {
	width: 100%;
	overflow-x: hidden;
}
body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding: 0;
	margin: 0;
	font-size: 18px;
	line-height: 28px;
	color: #777; 
	background: #fff;
	position: relative;
} 
h1,h2,h3,h4,h5,h6  {
font-family: 'Alegreya Sans', sans-serif;
}
h1 { font-size: 3em; line-height:1.2em; margin:0 0 .8em; }
h2 { font-size: 1.8em; line-height:1.4em; margin:0 0 .8em; }
h3 { font-size: 1.4em; line-height:1.4em; }
h4 { font-size: 1.25em; line-height:1.4em;}
h5 { font-size: 1.1em; line-height:1.4em; }
h6 { font-size: 1em; line-height:1.2em; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none; 
}	 
p { 
	padding:0 0 1em;
	margin:0;
}
a {
	color: #DF4A43;
	outline: 0;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
} 
a:hover {
	text-decoration: none;
	color: #1f2222;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}
.highlight {
	color: #DF4A43;
} 
.fullscreen {
    width: 100vw;
    min-height: 100vh; 
	background-repeat: no-repeat;    
    background-position: 50% 50% !important;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.45);
    position: relative;
    width: 100%;
    height: 100%;
    display: block; 
}
.overlay_main {
    background-color: rgba(0, 0, 0, 0.45);
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex; 
	justify-content: center;
}
#menu {
	z-index: 9999;
	position: relative;
}
.navbar-default {	
	padding: 10px 0;
	background-color:#DF4A43;
	width: 100vw;
	color: #FFF;
	border-radius: 0;  
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}
.navbar-default > .container  {
	margin-right: 0px;
}
.navbar-default .navbar-brand {
    padding: 7px;
	font-size: 2rem;
	font-weight: 500;
	position:absolute;
	left:0;
	margin-left: 10px;
}
.navbar-default .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.61);	
    font-weight: 500;
    font-size: 18px;
	text-align: center;	
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: rgb(255, 255, 255);
	font-size: 17px;
	transition: all 1s ease;	
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	background: transparent;  
	color: #FFF;
	font-size: 18px;
}
.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 9px 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	background-size: 100%;
	border: 1px solid transparent;
	border-color: rgb(255, 255, 255);
	border-radius: 0; 
}
.icon-bar {
	color: #3eb0f7;
}
.btn-default {
	font-size: 17px;
	margin: 30px 0 10px;
	margin-right: 10px;
	line-height: 20px;
	padding: 15px 35px;
	height: 50px;
	border: 2px solid #DE4942;
	background: transparent;
	transition: all 0.4s;
	color: #DE4942;
	font-weight: 600;
	cursor: pointer;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	border: 2px solid #DE4942;
	background: #DE4942;
	color: white;
}
.btn-primary {
	font-size: 17px;
	margin: 30px 0 10px;
	margin-right: 10px;
	line-height: 20px;
	padding: 15px 35px;
	height: 50px;
	border: 2px solid #DF4A43;
	background: #DF4A43;
	transition: all 0.4s;
	color: white;
	cursor: pointer;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	border: 2px solid #DF4A43;
	background: transparent;
	color: #DF4A43;
}
.btn-secondary {
	font-size: 20px;
	font-weight: 300;
	line-height: 20px;
	padding: 20px 50px;
	height: 65px;
	border: none;
	background: #3eb0f7;
	transition: all 0.4s;
	color: white;
	border-radius: 4px;
	cursor: pointer;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open > .dropdown-toggle.btn-secondary {
	background: v;
	color: white
}
.btn-learn-more {
	text-align: center;
}
.site-name img {
	width: 100px; 
	height: 37px
}
.landing h1{
	font-size: 56px;
	font-weight: 300;
	color: #fff;
	margin-top: 50px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.landing-text h4 {
	margin-bottom: 20px;
}
.landing p {
	color: #fff;
}
.landing-text {
	margin-bottom: 20px;
}
.landing-text p { 
	padding-bottom: 10px;
	line-height: 45px;
}
.more {
	padding: 50px;
}
.more1 {
	padding: 25px;
}
.more2 {
	padding-left: 4px;
}
.head-btn {
	margin-top: 60px;
	margin-bottom: 60px;
}
#services {
	padding: 80px 0;
}
.wrapper {
	display: flex;
	/* justify-content: space-around; */
	align-items: center;
	/* height: 100%; */
}
#services h2 {
	margin: 15px 0 15px 0;
	font-weight: 300;
}
#services .services-title p {
	font-size: 18px;
}
#services .inner {
	float: left;
	display: inline-block;
	width: 80%;
}
.row-feat {
	padding-top: 25px;	
}
.feat-list {
	margin-top: 30px;
}
.feat-list i {
	font-size: 35px;
	float: left;
	width: 20%;
	color: #DF4A43;
	height: 100%;
	position: relative;
	opacity: 0.6;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
	top: 10px;
	padding-left: 15px;
}
.feat-list:hover i {
	color: #3eb0f7;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}
.automate{
	padding: 80px 0;
}
.btn-automate {
	margin-top: 40px;
}
#clients h2 {
	padding-top: 55px;
}
#about-us {
	padding: 100px 0 100px;
}
#about-us h2 {
	font-weight: 300;
	margin: 15px 0 15px 0;
}
#about-us p {
	font-weight: 300;
	margin: 15px 0 15px 0;
}
.about-us-pic {
	margin-top: 20px;
}
.subscribe {
	color: #fff;
}
#solutions {
	padding: 100px 0 100px;
	margin: 0 10px;
}
#solutions h2 {
       font-weight: 300;
}
#clients {
	background-color: #Fff;
}
.clients-item {
	display: block;
	width: 100%;
	height: auto;
	position: relative;
	margin-top: 20px;
}
.clients-item .box {
	margin-right: 15px;
	margin-left: 15px;
}
.clients-item .box .message {
	padding: 30px;
	font-style: italic;
	line-height: 30px;
	font-weight: 300;
}
.clients-item .client-pic img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	max-width: 100%;
}
.clients-item .client-info {
	margin-top: 10px;
	font-size: 16px;
}
.clients-item .client-info .company {
	font-style: italic;
	color: #DF4A43;
}
.owl-theme .owl-controls .owl-page span{
	background: #DF4A43;
	margin: 15px 5px 50px;
}
#approach {
	padding: 80px 0 100px;
}
#approach  h2 {
	margin: 15px 0 15px 0;
	font-weight: 300;
}
#approach .inner {
	float: left;
	display: inline-block;
	width: 80%;
}
.action {
	color: #fff;
}
#contact {
	width: 100%;
	min-height: 100%;
}
#contact  h2{
	color: white;
}
.ul-address a {
	font-weight: normal;
	color: white;
}
.ul-address a:hover {
	color: #3eb0f7;
	text-decoration: underline;	
}
.ul-address li {
	padding-right: 20px; 
	margin-bottom: 8px; 
	list-style: none;
	color: white;	
}
.ul-address i {
	margin-left: 15px;
	position: absolute; 
	left: 0;
	color: #DF4A43; 
	font-size: 25px;
	line-height: 30px;
}
.ul-address i:hover {
	color: #3eb0f7; 
}
.contact-row {
	margin: 100px 0 100px;
}
#contact-form {
	margin: 0 auto;
}
#contact-form input {
	position: relative;
	padding: 5px 10px;
	width: 100%;
}
#contact-form textarea {
	position: relative;
	padding: 10px 10px;
	width: 100%;
	height: 120px!important;
}
#contact-form .form-control {
	border-radius: 0;
	border: solid 1px #dadada;
	background-color: #fff;
	color: #333;
	font-size: 15px;
	height: 35px;
}
#contact-form .btn {
	height: 35px;
	background-color: #DF4A43;
	color: #ffffff;
	font-size: 12px;
	line-height: 18px;
	padding: 0 20px;
	border: none;
	border-radius: 0;
	margin: 0;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
	float: left;
	width: auto;
}
#contact-form .btn:hover {
	background-color: #3eb0f7;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}
#g-recaptcha-response {
    display: block !important;
    position: absolute;
    margin: -78px 0 0 0 !important;
    width: 302px !important;
    height: 76px !important;
    z-index: -999999;
    opacity: 0;
}
.scrollToTop{
	width: 40px; 
	height: 40px;
	padding: 5px;
	font-size: 30px;
	text-align: center; 
	color: rgb(223, 74, 67);
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
}
.scrollToTop:hover{
	color: #3eb0f7;
}
#footer {
	background: #fff;
	padding: 45px 0 45px;
	text-align: center;
}
.social ul {
	padding: 0;
	list-style: none;
}
.social li {
	display: inline-block;
	padding-right: .3em;
}
.social li a {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #DF4A43;
	border-radius: 5px;
	background: transparent;
	border: solid 1px #DF4A43;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
	border-radius: 50%;
}
.social li a:hover {
	color: #fff;
	background: #DF4A43;
}
.legal a {
	font-weight: 300!important;
}
.legal a:hover {
	color: #3eb0f7;	
}
.copyright {
	font-size: 16px;
	margin-top: 25px;		
}
/* @media (max-width: 1024px) {	
	.fullscreen {
		height: 91vh;
	}
} */
@media (max-width: 960px) {	
	/* .fullscreen {
		height: 100vh;
	} */
	.landing h1 {
		font-size: 50px;
	}
	.landing h4 {
		font-size: 35px;
	}
	.landing-text p {
		font-size: 30px;
	}
	.btn-default {
		font-size: 15px;
		margin: 30px 0 10px;
		padding: 12px 5%;
		height: 15px;
	}
	.btn-primary {
		font-size: 15px;
		margin: 30px 0 10px;
		margin-right: 15px;
		padding: 12px 5%;
		height: 15px;
	}
	.feat-list i {
		padding: 0px;
		font-size: 30px;
	}
	.clients-item .client-pic img {
		width: 80px;
		height: 80px;
	}
}
@media (max-width: 812px) {	
	h2 {
		font-size: 27px;
	}
	h3, h4 {
		font-size: 22px;
	}	
	p, li {
		font-size: 20px;
	}	
	.landing h1 {
		font-size: 45px;
		margin-bottom: 25px;
	}
	.landing h4 {
		font-size: 25px;
		margin-bottom: 25px;
	}
	.landing-text p {
		font-size: 27px;
	}
	.head-btn {
		margin: 0px;		
	}
	.btn-default {
		font-size: 12px;
		margin: 15px 0 5px;
		padding: 7px 15px;
		height: 25px;
		border-width: thin;
	}
	.btn-primary {
		font-size: 12px;
		margin: 15px 0 12px;
		margin-right: 15px;
		padding: 7px 15px;
		height: 250px;
	}	
	.navbar-default {	
		padding: 5px 0;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 15px;
		line-height: 10px;
	}
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus {
		font-size: 16px;	
	}
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
		font-size: 14px;
	}
	.navbar-toggle {		
		padding: 6px 7px;
		margin-top: 8px;
		margin-bottom: 8px;
	}	
	.site-name img {
		width: 80px; 
		height: 37px;
		padding-bottom: 8px;
	}
	#services, #about-us, #solutions, #approach {
		padding: 80px 0 80px;
	}
	.feat-list i {
		padding: 5px 0px;
		font-size: 30px;
	}
	#automate h2 {
		font-size: 35px;
		padding: 5px;
	}
	.clients-item .client-pic img {
		width: 50px;
		height: 50px;
		margin: 0 0 0.8em;
	}
	.clients-item .box .message {
		padding: 20px 0;
		width: 100%;
	}
	.owl-theme .owl-controls .owl-page span {
		width: 8px;
    	height: 8px;
	}
	.ul-address {
		margin-bottom: 30px;
	}
	.legal a {
		font-size: 15px;
	}
	.copyright p {
		font-size: 12px;
	}
}

/* Mobile Nav ----------- */
@media (max-width: 767px) {
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
		background-color: rgba(221, 221, 221, 0.391);
	}
}	

@media (max-width: 745px) {
	.feat-list i {
		font-size: 40px;
		padding-left: 40px; 
	}	
	.automate-text p {
		font-size: 15px;
	}
	.contact-row {
		padding: 0 20px;
	}
	.ul-address i {
		margin-left: 0px;
	}
	.contact-left {
		padding: 0px;
	}
}

@media (max-width: 667px) {
	.landing h1 {
		font-size: 35px;
		margin-bottom: 25px;
	}
	.landing h4 {
		font-size: 18px;	
	}
	.landing-text p {
		font-size: 20px;
	}
	.feat-list i {
		padding: 5px 40px;
	}
}

@media (max-width: 480px) {
	h2 {
		font-size: 22px;
	}
	h3, h4 {
		font-size: 20px;
	}	
	p{
		font-size: 18px;
	}
	li {
		font-size: 16px;
	}
	.landing h1 {
		font-size: 25px;	
	}
	.landing h4 {
		font-size: 18px;	
	}
	.landing-text p {
		font-size: 18px;
		line-height: 35px;
	}
	#services, #about-us, #solutions, #approach {
		padding: 50px 0 50px;
	}
	.feat-list i {
		padding-left: 20px;
		font-size: 30px;
	}
	#automate h2 {
		font-size: 25px;
	}
	.automate-text {
		font-size: 15px;
	}
	.clients-item .client-pic img {
		width: 40px;
		height: 40px;
	}
	.scrollToTop{
		width: 25px; 
		height: 25x;
		font-size: 20px;
		right: 15px;
	}
	.legal a {
		font-size: 13px;
	}
	.copyright p {
		font-size: 11px;
	}
}

@media (max-width: 375px) {	
	h2 {
		font-size: 20px;
	}
	h3, h4 {
		font-size: 18px;
	}	
	p, li {
		font-size: 16px;
	}
	.landing-text p {
		line-height: 30px; 
	}
	.site-name img {
		width: 40px; 
		height: 22px;
		padding-bottom: 8px;
	}
	.btn-default {
		font-size: 14px;
		margin: 30px 0 10px;
		padding: 8px 8px;
		height: 18px;
	}
	.btn-primary {
		font-size: 14px;
		margin: 30px 0 10px;
		margin-right: 15px;
		padding: 8px 8px;
		height: 18px;
	}
	.navbar-default {	
		padding: 2px 0;
	}
	.navbar-toggle {		
		padding: 3px 4px;
		margin-top: 4px;
		margin-bottom: 4px;
	}	
	.navbar-default .navbar-nav > li > a {
		font-size: 10px;
		line-height: 6px;
	}
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus {
		font-size: 11px;	
	}
	.row-feat {
		margin: 0px;
	}
	.feat-list i {
		padding-left: 0;
	}
	.fa {		
		font-size: 8px;
	}
	.social li a {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;
		width: 25px;
		height: 25px;
		line-height: 25px;	
	}
}

@media (max-width: 330px) {
	h2 {
		font-size: 15px;
	}
	h3, h4 {
		font-size: 13px;
	}	
	p, li {
		font-size: 12px;
	}
	.landing h1 {
		font-size: 20px;
		margin-bottom: 15px;
	}	
	.landing h4 {
		font-size: 14px;
		margin-bottom: 15px;
	}
	.landing-text p {
		font-size: 12px;
		line-height: 20px;
		margin-bottom: 15px;
	}	
	.btn-default {
		font-size: 11px;
		margin: 30px 0 10px;
		padding: 4px 4px;
		height: 14px;
	}
	.btn-primary {
		font-size: 11px;
		margin: 30px 0 10px;
		margin-right: 15px;
		padding: 4px 4px;
		height: 14px;
	}
	.feat-list, .row-feat {
		padding: 0px;
	}
	.feat-list i {
		font-size: 18px;
	}
	.more1 {
		padding: 0px;
	}
	.fa {		
		font-size: 8px;
	}
	#automate h2 {
		font-size: 20px;
	}
	.automate-text {
		font-size: 12px;
	}
	.clients-item .box .message {
		font-size: 12px;
		line-height: 20px;
	}
	.clients-item .client-info {
		font-size: 12px;
	}
	.clients-item .client-info .company {
		font-size: 12px;
	}
	#about-us ul {
		padding-left: 18px;
	}
	.legal a {
		font-size: 10px;
	}
	.copyright p {
		font-size: 8px;
	}
}



