<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="description" content="Sample - The Entrepreneur Websit">
  <title>Sample | The Entrepreneur Website</title>
  <link rel="stylesheet" href="style.css">

  <!-- Favicon-->
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/site.webmanifest">
  <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#3eb0f7">
  <link rel="shortcut icon" href="favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#3eb0f7">
  <meta name="msapplication-config" content="favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

</head>
<body>
  <!-- Header -->
  <section class="banner" id="sec">.
    <header>
      <a href="#" class="logo">Logo</a>
      <div id="toggle" onclick="toggle()"></div>
    </header>
    <div class="content">
      <h2>Hello World,<br>I'm <span>Jason Miller</span></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
      <a href="https://suaviit.com">Learn More</a>
    </div>
    <ul class="sci">
      <li><a href="https://www.facebook.com/Suavi-iT-Consulting-110089771823025/"><img src="facebook.png"></a></li>
      <li><a href="https://twitter.com/suaviit/"><img src="twitter.png"></a></li>
      <li><a href="https://www.linkedin.com/company/suaviit/"><img src="linkedin.png"></a></li>
    </ul>
  </section>
  <div id="navigation">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <section class="footer">
      <p class="copyrightText">© Designed & Developed by Suavi</p>
    </section>

  <script type="text/javascript">
    function toggle(){
      var sec = document.getElementById('sec');
      var nav = document.getElementById('navigation');
      sec.classList.toggle('active')
      nav.classList.toggle('active')
    }
  </script>
</body>
</html>
